keybinds clear-defaults=true {
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }
    shared_except "locked" {
        // pane focus
        bind "Ctrl Super n" { MoveFocus "Left"; }
        bind "Ctrl Super e" { MoveFocus "Down"; }
        bind "Ctrl Super i" { MoveFocus "Right"; }
        bind "Ctrl Super u" { MoveFocus "Up"; }

        // pane split
        bind "Ctrl Super v" { NewPane "Right"; }
        bind "Ctrl Super b" { NewPane "Down"; }

        // pane resize
        bind "Ctrl Super l" { Resize "Increase Left"; }
        bind "Ctrl Super y" { Resize "Increase Right"; }
        bind "Ctrl Super j" { Resize "Increase Up"; }
        bind "Ctrl Super h" { Resize "Increase Down"; }

        // pane move
        bind "Ctrl Super ;" { MovePane "Up"; }
        bind "Ctrl Super o" { MovePane "Down"; }

        // pane actions
        bind "Ctrl Super Enter" { ToggleFocusFullscreen; }
        bind "Ctrl Super /" { CloseFocus; }

        // Tab actions
        bind "Ctrl Super ," { GoToPreviousTab; }
        bind "Ctrl Super ." { GoToNextTab; }
    }
    normal {}
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    tmux {
        // switch modes
        bind "o" { SwitchToMode "Session"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "h" { SwitchToMode "Move"; }
        bind "p" { SwitchToMode "Pane"; }
        bind "r" { SwitchToMode "Resize"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "[" { SwitchToMode "Scroll"; }

        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }

        // tab
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

        // session
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }

        // Tab actions
        bind "," { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "." { GoToNextTab; SwitchToMode "Normal"; }
    }

    pane {
        bind "l" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "L" { TogglePaneEmbedOrFloating; SwitchToMode "Normal"; }
        bind "c" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    }
    move {
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "h" "Left" { MovePane "Left"; }
        bind "l" "Right" { MovePane "Right"; }
    }
    tab {
        bind "h" "Left" "," { GoToPreviousTab; }
        bind "l" "Right" "." { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "/" { CloseTab; SwitchToMode "Normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "b" { BreakPane; SwitchToMode "Normal"; }
        bind "Tab" { ToggleTab; }
        bind "[" { MoveTab "Left"; }
        bind "]" { MoveTab "Right"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    search {
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
    }
    renametab {
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    renamepane {
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
}

load_plugins {}

on_force_close "detach"
pane_frames false
theme "catppuccin-macchiato"
default_layout "compact"
show_startup_tips false
