services:
  dev:
    image: base_dev_image
    container_name: base_dev_container
    hostname: dev_hostname
    build:
      context: ..
      dockerfile: devContainer/dockerfile
      platforms:
        - linux/amd64
    stdin_open: true
    tty: true
    volumes:
      - zsh_history:/home/dev_in_a_box/.zsh_history
      - claude_data:/home/dev_in_a_box/.claude
      - gemini_data:/home/dev_in_a_box/.gemini
      - ${PWD}:/home/dev_in_a_box/workspace

    working_dir: /home/dev_in_a_box/workspace

volumes:
  zsh_history:
  claude_data:
  gemini_data:
